.logo {
    font-size: 1.5em;
    margin: 0;
}

.header {
    background-color: var(--lumo-base-color);
    padding: var(--lumo-space-m);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toolbar {
    background-color: var(--lumo-base-color);
    padding: var(--lumo-space-m);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.task-view, .user-view {
    padding: var(--lumo-space-m);
}
